footer > div{
  width:100%;
  height:290px;
  background-color:white;
  border-color: black;
}

h4{
  margin-left:90px;
}

.recherche_p{
  margin-left: 30px;
  margin-top: 30px;
}

.ligne{
  padding: 0px; margin: 0px; border: solid 1px #0B0719; width:160px;
  margin-left: 85px;
}

div img{
  width: 40px;
  margin-right:10px;
}

.qui{
  margin-left: 370px;
  margin-top: -109px;
}

.ligne2{
  padding: 0px; margin: 0px; border: solid 1px #0B0719; width:280px;
  margin-left: 365px;
}

h5{
  width:200px;
  margin-top: 300px;
  margin-left: 460px;
  text-decoration: none;
}
