@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body{
  font-family: 'Indie Flower';
  margin:0;
  padding: 0;
  background-image: url(../images/fond.png);
}
.logo{
  display: flex;
  width: 30%;
  margin:auto;
}
.logomaison{
  margin-left:20px;
  margin-right:2px;
  width:30px;
}

.logopanier{
  margin-left:20px;
  width:30px;
}

.logoprofile{
  margin-left:20px;
  width:50px;
}

.logomaison{
  margin-left:30px;
  margin-right:2px;
  width:20px;
}

#search{
  width:100px;
}

nav > ul + div{
  margin-top: 0.5%;
}

#recherche {
margin-right: 80px;
margin-top: 5px;
width:158px;
height:24px;
background:white;
box-shadow:1px 1px 2px rgba(0,0,0,.3) inset;
border-radius:2em;
}

#recherche .loupe {
background:url(http://www.larevuedekenza.fr/wp-content/themes/quarter/images/sidebar/loupe.png) no-repeat 0 0;
width:24px;
margin-left: 130px;
margin-top:-23px;
}

#recherche input {
margin-left: 20px;
outline:0;
border:0;
margin:0;
width: 300px;
height:24px;
display:block;
}

#recherche input[type=text] {
font:300 12px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
background:none;
width:180px;
padding:0 9px;
color:#666;
}

/*******MENU******/

.navbar{
  visibility: hidden;
  height: 0;
  padding: 0;
}
.menu {
 background-color:#dd8596;
 width:100%;
 margin:0 auto 0;
 z-index: 30;
 justify-content: space-between;
}
.menu ul {
 padding:0;
 margin:0;
 list-style-type: none;
}

.menu ul li {
 display:inline-block;
 margin:0;
 padding:0;
 position:relative;
}

.menu ul li a {
 display:block;
 font-size:1.1rem;
 font-weight:700;
 text-decoration: none;
 background:#dd8596;
 border-top: 1px solid transparent;
 border-bottom: 1px solid transparent;
 color:white;
 padding:12px 38px;
 font-family:'Open Sans', Arial, sans-serif;
}

.menu ul .blanc a:hover {
 transition-duration: 0.2s;
 background: transparent;
 background-color: white;
 color:#dd8596;
 border-top: 1px solid #dd8596;
 border-bottom: 1px solid #dd8596;
}

.menu ul li:hover .menu1{
 display:block;
}

.menu ul li ul.menu1 {
 width:230px;
 position:absolute;
 top:100%;
 display:none;
 background: #dd8596;
 padding-top:1px;
 box-shadow: 0 0 8px #999;
 -webkit-box-shadow: 0 0 8px #999;
 -moz-box-shadow: 0 0 8px #999;
 -o-box-shadow: 0 0 8px #999;
 -ms-box-shadow: 0 0 8px #999;
}

.menu ul li ul li {
 display:block;
}

.menu ul li ul li a {
 display:block;
 text-align:left;
 font-size:1rem;
 font-weight:500;
 text-decoration: none;
 background:#fff;
 color:#dd8596;
 padding:7px 0 ;
 font-family: 'Indie Flower';
 width:230px;
 text-indent:8px;
 border:0;
}

.menu ul li a{
  font-family: 'Indie Flower';
}

.menu ul .blanc ul li a:hover {
transition-duration: 0.2s;
 background:#dd8596;
 color:white;
}


/********MAIN**********/
#carouselExampleControls + div > h2.text-center{
  margin-top: 8%;
  margin-bottom: 8%;
}
.containerimg {
  position: relative;
  width: 50%;
}

.overlay {
  z-index: 20000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 2.5%;
  right: 0;
  height: 90%;
  width: 95%;
  opacity: 0;
  transition: .5s ease;
  background-color: #dd8596;
}

.containerimg:hover .overlay {
  opacity: 0.9;
}

.text {
  color: white;
  font-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 200000;
}

/******COLLECTIONS****/

.row{
  position: relative;
  margin-top: 3%;
}
h3{
  position: absolute;
  bottom:0;
  left:0;
  z-index: 2000;
  padding: 0 0 10% 10%;
}

.col-sm-3 img, .col-sm-6 img{
  width: 100%;
  height: 90%;
  position: relative;
}



/******ARTICLES************/

.btn-secondary{
  border-color: #DD8596;
  background-color: #DD8596;
  margin-top: 20px;
}
article > h4{
  margin-top: 5%;
  margin-bottom: 5%;
}

div + div.bg-light {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
div + div.bg-light {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
article > div.bg-light.col-sm.row > img{
  width: 10%;
  height: 10%;
}

/**********FOOTER***********/

footer > div{
  width:100%;
  height:230px;
}

footer div img{
  width: 29px;
  height: 3%;
}

.col-xl-3 > h4{
  margin-bottom: 10%;
  margin-top: 10%;
}

a:hover{
  text-decoration: none;
}

h4{
  color:#dd8595;
  margin-top: 22px;
}

/******MEDIA QUERIES*******/

@media screen and (max-width: 1040px){
  .navbar{
    font-family:'Open Sans', Arial, sans-serif;
    visibility: visible;
    height: auto;
    color: #dd8596;
  }
  .navbar.navbar-4 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=BFE100');
}
  nav.menu{
    display: none
  }
  .navbar{
    font-size: 25px;
  }
  .logo{
    display: none;
  }
  #recherche input[type=text] {
    font:300 24px 'HelveticaNeue-Light', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
}

@media screen and (max-width: 444px){
  .logo{
    display: none;
  }
  nav.menu{
    display: none
  }
  .navbar{
    font-family:'Open Sans', Arial, sans-serif;
    visibility: visible;
    height: auto;
    color: #dd8596;
  }
  .logo_doucepo{
    width: 175px;
  }
}



/*****PAGE PRODUIT******/


.btn-success{
  height: 20%;
}

div.col-sm.d-flex.justify-content-center + img.col-sm.d-flex.align-items-center.justify-content-center{
  width: 8%;
  height: 8%;
  margin: 0 auto;
}
