.container{
  background-color: white;
  font-family:"indie flower", sans-serif;

}
.title{
  font-size: 90px;
  color:#d0b37d;
  margin-top:50px;
}
.article {
  margin-top: 50px;
}
.article .row .col-md-4 img{
  width: 100%;
  height:auto;

}
 .col-md-8 p{
  margin-bottom: 40px;
  text-align: justify;
}

main.container h2{
  color:#dd8596;
  text-transform: uppercase;
}
div.col-md-6:nth-child(2){
  border-left: 1px #F4F0E9 solid;
}

/*milieu de la page------------*/
article.container .row .col-4 img{
  width: 50px;
  height: 50px;
  margin-top:30px;

}
article.container{
  background-color: #F4F0E9;
  margin-top: 50px;
  border-radius: 10px;
}
article.container h5{
  margin-bottom:20px;
  text-transform: uppercase;

}
.title2{
  margin-top: 20px;
  color: pink;
}


/*fin de la page---------------*/
nav.container .row .col-md-2 img{
  width: 90%;
  height: 90%;
  border-radius: 10px;
}
nav.container .row .col-md-2 img:hover{
  border:3px solid #d0b37d;
}
nav.container{
  background-color: #dd8596;
  padding-top: 50px;
  padding-bottom: 20px;
  border-radius: 10px;
}
div.row.justify-content-center > button.btn.btn-secondary {
    color: white;
    border-color: #FFFFFF;
    background-color: #ffffff4f;
    margin-top:20px;

}
