/* ------------------------------- FOOTER--------------------------------*/

footer > div{
  width:100%;
  height:290px;
}


div img{
  width: 9%;
  margin-right:10px;
}

.col-xl-3 > h4{
  margin-bottom: 10%;
  margin-top: 10%;
}
