body{
  margin:0;
  padding: 0;
}
.logo{
  display: flex;
  width: 500px;
  margin:auto;
}
.logomaison{
  margin-left:20px;
  margin-right:2px;
  width:30px;
}

.logopanier{
  margin-left: 20px;
  width:30px;
}

.logoprofile{
  margin-left:20px;
  width:50px;
}

#search{
  width:100px;
}

nav > ul + div{
  margin-top: 0.5%;
}

#recherche {
margin-top: 5px;
width:208px;
height:24px;
background:white;
box-shadow:1px 1px 2px rgba(0,0,0,.3) inset;
border-radius:2em;
}

#recherche .loupe {
background:url(http://www.larevuedekenza.fr/wp-content/themes/quarter/images/sidebar/loupe.png) no-repeat 0 0;
width:24px;
}

#recherche input {
margin-left: 20px;
outline:0;
border:0;
margin:0;
height:24px;
float:left;
display:block;
}

#recherche input[type=text] {
font:300 12px HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
background:none;
width:180px;
padding:0 9px;
color:#666;
}

/*******MENU******/

.navbar{
  visibility: hidden;
  height: 0;
  padding: 0;
}
.menu {
 background-color:#dd8596;
 width:100%;
 margin:0 auto 0;
 display:block;
 position:relative;
 z-index: 30;
}
.menu ul {
 padding:0;
 margin:0;
 list-style-type: none;
}

.menu ul li {
 display:inline-block;
 margin:0;
 padding:0;
 position:relative;
}

.menu ul li a {
 display:block;
 text-align:center;
 font-size:15px;
 font-weight:800;
 text-decoration: none;
 background:#dd8596;
 border-top: 1px solid transparent;
 border-bottom: 1px solid transparent;
 color:white;
 padding:12px 38px;
 font-family:Open Sans, Arial, sans-serif;
}

.menu ul li a:hover {
 background: transparent;
 background-color: white;
 color:#dd8596;
 border-top: 1px solid #dd8596;
 border-bottom: 1px solid #dd8596;
}

.menu ul li:hover .menu1{
 display:block;
}

.menu ul li ul.menu1 {
 width:230px;
 position:absolute;
 top:100%;
 display:none;
 background: #dd8596;
 padding-top:1px;
 box-shadow: 0 0 8px #999;
 -webkit-box-shadow: 0 0 8px #999;
 -moz-box-shadow: 0 0 8px #999;
 -o-box-shadow: 0 0 8px #999;
 -ms-box-shadow: 0 0 8px #999;
}

.menu ul li ul li {
 display:block;
}

.menu ul li ul li a {
 display:block;
 text-align:left;
 font-size:14px;
 font-weight:500;
 text-decoration: none;
 background:#fff;
 color:#dd8596;
 padding:7px 0 ;
 font-family:Open Sans, Arial, sans-serif;
 width:230px;
 text-indent:8px;
 border:0;
}

.menu ul li ul li a:hover {
 background:#dd8596;
 color:white;
}


/********MAIN**********/


/*******CAROUSEL******/

#carouselExampleControls {
  width: 80%;
  height: auto;
  margin: auto;
}

/******TOPICS****/

.row{
  position: relative;
  margin-top: 3%;
}
h3{
  position: absolute;
  bottom:0;
  left:0;
  z-index: 2000;
  padding: 0 0 10% 10%;
}

.col-sm-3 img, .col-sm-6 img{
  width: 100%;
  height: 90%;
  position: relative;
}

.logomaison{
  margin-left:20px;
  margin-right:2px;
  width:20px;
}

/******ARTICLES************/

article > h4{
  margin-top: 5%;
  margin-bottom: 5%;
}

article > h4 + div.bg-light{
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

/**********FOOTER***********/

footer > div{
  width:100%;
  height:290px;
}


div img{
  width: 9%;
  margin-right:10px;
}

.col-xl-3 > h4{
  margin-bottom: 10%;
  margin-top: 10%;
}

a:hover {
  text-decoration: none;
  color: #dd8596;
}




/******MEDIA QUERIES*******/

@media screen and (max-width: 1040px){
  .navbar{
    visibility: visible;
    height: auto;
    color: #dd8596;
  }
  .navbar.navbar-4 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=BFE100');
}
  nav.menu{
    display: none
  }
  .navbar{
    font-size: 25px;
  }
  .logo{
    display: none;
  }
}


/*****PAGE PRODUIT******/

main > article > #carouselExampleControls{
  width: 500px;
  height: auto;
}
main > article > .infos{
  width: 800px;
  height: auto;
}
.boutonsInteractifs{
  width: 40%;
  display: flex;
  justify-content: space-around;
}
