body{
  margin:0;
  padding: 0;
}
.navbar{
  visibility: hidden;
  height: 0;
  padding: 0;
}
.menu {
 background-color:#dd8596;
 width:100%;
 margin:0 auto 0;
 display:block;
 position:relative;
 z-index: 30;
}

.menu ul {
 padding:0;
 margin:0;
 list-style-type: none;
}

.menu ul li {
 display:inline-block;
 margin:0;
 padding:0;
 position:relative;
}

.menu ul li a {
 display:block;
 text-align:center;
 font-size:15px;
 font-weight:800;
 text-decoration: none;
 background:#dd8596;
 border-top: 1px solid transparent;
 border-bottom: 1px solid transparent;
 color:white;
 padding:12px 38px;
 font-family:Open Sans, Arial, sans-serif;
}

.menu ul li a:hover {
 background: transparent;
 background-color: white;
 color:#dd8596;
 border-top: 1px solid #dd8596;
 border-bottom: 1px solid #dd8596;
}

.menu ul li:hover .menu1{
 display:block;
}

.menu ul li ul.menu1 {
 width:230px;
 position:absolute;
 top:100%;
 display:none;
 background: #dd8596;
 padding-top:1px;
 box-shadow: 0 0 8px #999;
 -webkit-box-shadow: 0 0 8px #999;
 -moz-box-shadow: 0 0 8px #999;
 -o-box-shadow: 0 0 8px #999;
 -ms-box-shadow: 0 0 8px #999;
}

.menu ul li ul li {
 display:block;
}

.menu ul li ul li a {
 display:block;
 text-align:left;
 font-size:14px;
 font-weight:500;
 text-decoration: none;
 background:#fff;
 color:#dd8596;
 padding:7px 0 ;
 font-family:Open Sans, Arial, sans-serif;
 width:230px;
 text-indent:8px;
 border:0;
}

.menu ul li ul li a:hover {
 background:#dd8596;
 color:white;
}


/********MAIN**********/


/*******CAROUSEL******/

#carouselExampleControls {
  width: 80%;
  height: auto;
  margin: auto;
}

/******TOPICS****/

.row{
  position: relative;
  margin-top: 3%;
}
h3{
  position: absolute;
  bottom:0;
  left:0;
  z-index: 2000;
  padding: 0 0 10% 10%;
}

.col img{
  width: 300px;
  height: auto;
  position: relative;
}

.logo{
  display: flex;
  width: 500px;
  margin:auto;
}


/******MEDIA QUERIES*******/

@media screen and (min-width: 200px) and (max-width: 1024px){
  .navbar{
    visibility: visible;
    height: auto;
    color: #dd8596;
  }
  .navbar.navbar-4 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=BFE100');
}
  .menu{
    display: none
  }
  div a img{
    width: 55%;
    height: 55%;
    padding:-20;
    margin:-20;
  }
  .navbar{
    font-size: 25px;
  }
  .logo{
    display: none;
  }
}
